.container {
    margin: 50px 0;
    background-color: black;
}

.card {
    margin: 0 2% !important;
    border: 1px solid gray;
}

.infected {
    border-bottom: 10px solid rgb(0, 0, 255);
}
.recovered {
    border-bottom: 10px solid rgb(0, 255, 0);
}
.deaths {
    border-bottom: 10px solid rgb(255, 0, 0);
}

@media (max-width: 770px) {
    .container {
        margin: 2% 0 !important;
    }
}